<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Guwahati : Registrar's Office</title>
	<link rel="stylesheet" href="/regoff/css/tailwind.min.css" />
	<link rel="stylesheet" type="text/css" href="/regoff/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
	 <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="http://fonts.cdnfonts.com/css/basier" rel="stylesheet">
	
</head>

<body class="overflow-x-hidden">
  <!-- <div class="min-h-screen"> -->
    <div class="header bg-white py-1">
      <div class="container flex justify-center mb-1.5 mt-0.5 ml-auto mr-auto">
        
        <div>
            <span class="float-left ">
                <img src="https://i.ibb.co/8z2qtGM/1200px-IIT-Guwahati-Logo-1.png" alt="1200px-IIT-Guwahati-Logo-1" border="0">
              </span>
              <span class="float-left pl-4">
              <h1 class="text-xs pt-2.5">INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI</h1>
              </span>
        </div>
      </div>
    </div>
	
	

<!-- 2 bar-->

      <div class="flex justify-center mb-1.5 mt-0.5 ml-auto mr-auto">
        <div class="flex md:justify-between w-full mt-2">
          <div class="flex flex-grow justify-between" id='nav-content' >
            <div class="hidden flex-grow md:flex items-center justify-center text-sm font-mono h-20 px-2 text-blue-550 bg-accent active-tab">
              <p class="text-center bar2 heads">OFFICE OF REGISTRAR</p>
            </div>
            
            <div class="flex px-8 items-center space-x-8 h-20 bg-accent">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2 10.6699C2 5.88166 5.84034 2 10.5776 2C12.8526 2 15.0343 2.91344 16.6429 4.53936C18.2516 6.16529 19.1553 8.37052 19.1553 10.6699C19.1553 15.4582 15.3149 19.3399 10.5776 19.3399C5.84034 19.3399 2 15.4582 2 10.6699ZM19.0134 17.6543L21.568 19.7164H21.6124C22.1292 20.2388 22.1292 21.0858 21.6124 21.6082C21.0955 22.1306 20.2576 22.1306 19.7407 21.6082L17.6207 19.1785C17.4203 18.9766 17.3076 18.7024 17.3076 18.4164C17.3076 18.1304 17.4203 17.8562 17.6207 17.6543C18.0072 17.2704 18.6268 17.2704 19.0134 17.6543Z" fill="white"/>
              </svg>
              <a href="#" id="smallnav"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 20H28V17.3334H4V20ZM4 25.3334H28V22.6667H4V25.3334ZM4 14.6667H28V12H4V14.6667ZM4 6.66669V9.33335H28V6.66669H4Z" fill="white"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

	
	
	
	<!--carousel-->
<div class="carousel relative shadow-2xl bg-white ">
        <div class=" carousel-inner relative overflow-hidden w-full ">
          <!--Slide 1-->
		<% galleries.forEach((gallery, i)=>{ %>
          <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
          <div class="content-center items-center carousel-item absolute opacity-0 bg-cover bg-hero-pattern  flex flex-wrap -mx-3 -mb-6 justify-center"  style="height:50vh;">
            <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="<%= gallery.pic %>" width="400" height="400" alt=""></div>
            <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="<%= gallery.pic %>" alt="" width="400" height="400"></div>
            <div class="md:w-1/4 px-4 mb-8 "><img class="rounded shadow-md w-20 md:w-56 lg:w-auto" src="<%= gallery.pic %>" alt="" width="400" height="400" ></div>
          </div>
         <% }) %>
          <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
          <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
          
          <!--Slide 2-->
          <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
          <div class="content-center items-center carousel-item absolute opacity-0 bg-cover bg-hero-pattern flex flex-wrap -mx-3 -mb-6 justify-center" style="height:50vh;">
            <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                <div class="md:w-1/4 h-auto px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                <div class="md:w-1/4 h-auto px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="https://source.unsplash.com/random/1280x720" alt=""></div>
          </div>
          <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
          <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label> 
          
          <!--Slide 3-->
          <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
          <div class="content-center items-center carousel-item absolute opacity-0 bg-cover bg-hero-pattern flex flex-wrap -mx-3 -mb-6 justify-center" style="height:50vh;">
            <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="https://source.unsplash.com/random/1280x720" alt=""></div>
                <div class="md:w-1/4 px-4 mb-8"><img class="rounded shadow-md w-20  md:w-56 lg:w-auto" src="https://source.unsplash.com/random/1280x720" alt=""></div>
          </div>
          <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
          <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
      
          <!-- Add additional indicators for each slide-->
          <ol class="carousel-indicators">
            <li class="inline-block mr-3">
              <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
            </li>
            <li class="inline-block mr-3">
              <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
            </li>
            <li class="inline-block mr-3">
              <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
            </li>
          </ol>
          
        </div>
      </div>
      
      
      <!--registrar para-->
<div class="flex sm:w-full">
  <div class="container lg:flex justify-left mb-5 mt-5 ml-auto mr-auto" style="margin: 100px;" id="theregistrar">
    <div class="Paragraphs lg:w-11/12">
      <div class=" text-4xl mb-5">
        <h1 class="w-13/13 heads text-black font-semibold" >
            The Registrar
        </h1>
        
      </div>
      <div class="Content ">
        <p class="lg:pt-5">
          As per the Institutes of Technology Act, 1961 and as amended there of :<br>
    
          <br><strong>The Registrar</strong> of each Institute shall be appointed on such terms and conditions as may be laid down by the Statutes and shall be the custodian of records, the common seal, the funds of the Institute and such other property of the Institute as the Board shall commit to his charge.
          
          <br><br><strong>The Registrar</strong> shall act as the Secretary of the Board, the Senate and such committees as may be prescribed by the Statutes.
          
          <br><br><strong>The Registrar</strong> shall be responsible to the Director for the proper discharge of his functions.
          
          <br><br><strong>The Registrar</strong> shall exercise such other powers and perform such other duties as may be assigned to him by this Act or the Statutes or by the Director.
        </p>
      </div>
    </div>
  </div>

  <!--nav-->
  <div class="lg:mt-20 mr-20">
    <nav class="navbar lg:border-l-2 w-max" id="navbar">
      <div class="lg:flex items-center justify-between hidden">
        <div class="px-1 ml-4">
          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6939 13.4799H7.27887C6.96837 13.4799 6.71637 13.2279 6.71637 12.9174C6.71637 12.6069 6.96837 12.3549 7.27887 12.3549H12.6939C13.0044 12.3549 13.2564 12.6069 13.2564 12.9174C13.2564 13.2279 13.0044 13.4799 12.6939 13.4799Z" fill="#9FABB7"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6939 10.34H7.27887C6.96837 10.34 6.71637 10.088 6.71637 9.77747C6.71637 9.46697 6.96837 9.21497 7.27887 9.21497H12.6939C13.0044 9.21497 13.2564 9.46697 13.2564 9.77747C13.2564 10.088 13.0044 10.34 12.6939 10.34Z" fill="#9FABB7"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.34485 7.20746H7.2786C6.96809 7.20746 6.71609 6.95546 6.71609 6.64496C6.71609 6.33446 6.96809 6.08246 7.2786 6.08246H9.34485C9.65535 6.08246 9.90735 6.33446 9.90735 6.64496C9.90735 6.95546 9.65535 7.20746 9.34485 7.20746Z" fill="#9FABB7"/>
            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="3" y="2" width="14" height="16">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.15698 2.24976H16.7805V17.1821H3.15698V2.24976Z" fill="white"/>
            </mask>
            <g mask="url(#mask0)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8385 3.37463L7.0718 3.37763C5.3258 3.38813 4.2818 4.46813 4.2818 6.26738V13.1644C4.2818 14.9756 5.33555 16.0571 7.0988 16.0571L12.8655 16.0549C14.6115 16.0444 15.6555 14.9629 15.6555 13.1644V6.26738C15.6555 4.45613 14.6025 3.37463 12.8385 3.37463ZM7.09955 17.1821C4.74155 17.1821 3.1568 15.5674 3.1568 13.1644V6.26738C3.1568 3.84263 4.69205 2.26688 7.06805 2.25263L12.8378 2.24963H12.8385C15.1965 2.24963 16.7806 3.86438 16.7806 6.26738V13.1644C16.7806 15.5884 15.2453 17.1649 12.8693 17.1799L7.09955 17.1821Z" fill="#9FABB7"/>
            </g>
            </svg>            
        </div>
        <h1 class="font-bold uppercase" style="color: #9FABB7;">
          <span>contents</span>
        </h1>
      </div>
      <ul class="lg:mt-6 hidden lg:block ml-6 sm:h-auto sm:overflow-visible" style="color: #9FABB7;" id="menu">
        <li class="py-1 flex">
          <a href="#theregistrar" class="flex justify-end font-bold text-black">
            <span>The Registrar</span>
          </a>
        </li>
        <li class="py-1 flex">
          <a href="#pr">
            <span>Present Registrar</span>
          </a>
        </li>
        <li class="py-1 flex">
          <a href="#registrars"> 
            <span>Past Registrars</span>
          </a>
        </li>
        <li class="py-1 flex">
          <a href="#rules"> 
            <span>Rules</span>
          </a>
        </li>
        <li class="py-1 flex">
          <a href="#officials"> 
            <span>Officials</span>
          </a>
        </li>
      </ul>
    </nav> 
  </div>
</div>

<!-- <div class="container md:px-32 px-5 py-20 mx-auto"> -->

 <div class="lg:flex lg:max-w-screen-lg lg:ml-20 lg:mr-80 sm:max-w-screen-sm sm:ml-10 mb-20 max-w-6xl rounded overflow-hidden" id="pr">
	 
    <div class="pt-6 pb-6" style="background-color: #06067B;"> 
	<% curr_regs.forEach(curr_reg=>{ %>
      <div id="card">
        <p class="lg:text-left lg:ml-40 sm:text-center" style="color: #BCBCF9;">
          <%=curr_reg.date%>
        </p>
        <h1 class="lg:text-left lg:ml-40 sm:text-center font-serif text-4xl xl:text-5xl text-white">
          <%=curr_reg.name%>
        </h1>
        <!-- container for all cards -->
        <div class="container w-100 lg:w-4/5 mx-auto flex flex-col">
          <!-- card -->
          <div v-for="card in cards" class="flex flex-col md:flex-row overflow-visible
                bg-white rounded-lg shadow-xl  mt-4 w-100 mx-2" style="background-color: #06067B;">
            <!-- media -->
            <div class="lg:h-64 lg:ml-0 lg:w-120 md:w-1/2 md:ml-10 sm:h-64 sm:w-80 sm:ml-0 xs:h-64 xs:w-80" style="background-color: #06067B;">
              <img class="rounded object-cover object-center" src="<%=curr_reg.pic%>" />
            </div>
            <!-- content -->
            <div class="w-full py-4 px-4 text-white lg:flex lg:flex-col justify-between lg:ml-10" style="background-color: #06067B;">
              <div style="overflow-wrap: break-word;" class="text-lg leading-tight">
                <%=curr_reg.description%>
			  </div>
              <p class="mt-2">
                Phone: <%=curr_reg.phone%>
                </br>Email: <%=curr_reg.email%>
              </p>
              <p class="text-sm text-gray-700 tracking-wide font-semibold mt-2">
              </p>
            </div>
          </div><!--/ card-->
		  <% }) %>
        </div><!--/ flex-->
      </div>
    </div>
  </div>

 <!-- </div> -->
	
	<section id="registrars">
  <section class="text-gray-600 body-font ">
      <div class="container md:px-32 px-5 py-20 mx-auto">
		  <div class=" text-4xl mb-5">
			<h1 class="w-13/13 heads text-black font-semibold" >
				Past Registrars
			</h1>
        
      	  </div>
          <div class="flex justify-left flex-wrap -m-4">
              <% registrars.forEach(registrar=>{ %>
                  <div class="profileCard h-auto m-4 bg-white rounded-md"
                      style="box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);width: 350px;">
                      <div
                          class="box-border pointer-events-none  border-white w-full h-48 bg-gray-100 rounded-md">
                          <img alt="official" class=" w-full h-ffuu md:mr-2 sm:mb-0 mb object-cover"
                              src="<%=registrar.pic%>">
                      </div>
                      <div class="box-border px-3 pt-3 pb-2 ">
                          <div class=" md:bottom-14 bottom-4 md:-right-16 z-10 ">
							 <div class="flex justify-between">
								 <div class="my-2  ">
                              <p class="text-gray-900 text-lg title-font font-medium mb-2 font-bold text-left ">
                                  <%=registrar.name%>
                              </p>
								 </div>
								 <div class="my-2">
                              <p class="mb-4 text-right">
                                  <%=registrar.post%>
                              </p>
								 </div>
							  </div>
							  </div>
						  <div class="border-t-2"></div>
						  <div class="md:bottom-14 bottom-4 md:-right-16 z-10 flex">
							  <p class="mb-4 ttttttttxxxxxxxxeeeeeeee">
                                  <%=registrar.date%>
                              </p>
                          </div>
                          <!-- <p class="pt-0.5 pb-1 text-sm font-normal text-gray-600">twitter_handle</p> -->
                      </div>
                  </div>
                  <% }) %>
          </div>
      </div>
  </section>
</section>


<!--rules and important links-->
<div class="container md:px-32 px-5 py-20 mx-auto" id="rules">
  <h3 class="text-black text-4xl mb-10 text-sm heads font-semibold">
    Rules and Important Links
  </h3>
	<% rules.forEach(rule=>{ %>
  <div class="mt-4 bg-white p-3 rounded-lg shadow-lg border mr-80">
    <div>
	
      <div>
		<div>
			<h2 class="text-2xl font-bold mb-2 text-gray-800"><%=rule.title%></h2>
			<p class="text-sm text-gray-700 mt-1 mb-1">
			  <%=rule.description%>
			</p>
		</div>
        <div class=" md:bottom-0 bottom-0 md:-right-16">
          <div class="flex justify-between">
            <div class="my-0">
				 <p class="text-gray-700 mb-0 text-left ">
					 <%= rule.creation.getDate()+' '+(["January", "February", "March", "April", 
							"May", "June","July", "August", "September", "October", "November", 
							"December"][rule.creation.getMonth()])+", "+rule.creation.getFullYear()%>
				 </p>
            </div>
            <div class="my-0">
                         <p class="mb-0 text-right">
							 <a href="uploads/rule_pdf/<%=rule.path%>">
                          <svg class="" width="25" height="25" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9399 30.0015H11.0466C6.3399 30.0015 3.16656 26.9735 3.16656 22.4548V10.8948C3.16656 6.37484 6.3399 3.33484 11.0466 3.33484H21.9399C26.6599 3.33484 29.8332 6.37484 29.8332 10.8948V22.4548C29.8332 26.9735 26.6599 30.0015 21.9399 30.0015ZM19.5265 15.6682H11.0599C10.4999 15.6682 10.0599 16.1215 10.0599 16.6682C10.0599 17.2282 10.4999 17.6682 11.0599 17.6682H19.5265L16.2199 20.9615C16.0332 21.1482 15.9265 21.4148 15.9265 21.6682C15.9265 21.9202 16.0332 22.1748 16.2199 22.3748C16.6065 22.7615 17.2465 22.7615 17.6332 22.3748L22.6599 17.3748C23.0332 17.0015 23.0332 16.3348 22.6599 15.9615L17.6332 10.9615C17.2465 10.5748 16.6065 10.5748 16.2199 10.9615C15.8332 11.3615 15.8332 11.9882 16.2199 12.3882L19.5265 15.6682Z" fill="#A5ADBC"/>
                            </svg>
							 </a>
                         </p>
            </div>
          </div>
        </div>
      </div>
	
    </div>
  </div>
	<% }) %>
</div>
	



<!--officials-->
<section id="officials">
  <section class="text-gray-600 body-font ">
	  
      <div class="container md:px-32 px-5 py-20 mx-auto">
		  <div class="text-4xl mb-5">
			<h1 class="w-13/13 heads text-black font-semibold" >
				Officials
			</h1>
        
      	  </div>
          <div class="flex justify-left flex-wrap -m-4">
              <% officials.forEach(official=>{ %>
                  <div class="profileCard h-auto m-4 rounded-md"
                      style="background: #3B3B98; box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);width: 350px;">
                      <div
                          class="box-border pointer-events-none bord border-white w-full h-48 bg-gray-100 rounded-md">
                          <img alt="official" class="rounded-md w-full h-48 md:mr-2 sm:mb-0 mb-4 object-cover"
                              src="<%=official.pic%>">
                      </div>
                      <div class="box-border px-3 pt-3 pb-2 ">
                          <div class=" md:bottom-14 bottom-4 md:-right-16 z-10">
							  <div class="flex justify-between">
								 <div class="my-2  ">
                              <h2 class="text-white text-lg title-font font-medium mb-2 ">
                                  <%=official.name%>
									 </h2></div>
								 <div class="my-2  "> 
                              <p class="mb-4 text-white">
                                  <%=official.post%>
                              </p>
								  </div></div>
							  <div class="border-t-2"></div>
							  
								 
							  <p class="mb-4 text-white ">
                                  <%=official.email%>
									 </p>
								  
                              <p class="mb-4 text-white">
                                  <%=official.phone%>
                              </p>
								  
                          </div>
                          <!-- <p class="pt-0.5 pb-1 text-sm font-normal text-gray-600">twitter_handle</p> -->
                      </div>
                  </div>
                  <% }) %>


          </div>
      </div>
  </section>
</section>






	<!--CONTACT US-->
<div class="container flex justify-self-stretch mb-5 mt-5 ml-auto mr-auto" style="margin-top: 100px; margin-bottom: 100px; margin-left:100px; margin-right:200px;">
  <div class="max-w-md w-auto lg:flex ">
    <!--div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"-->
      <img class = "h-20 mb-20 self-center px-10 align-top" src="https://event.iitg.ac.in/icann2019/Proceedings_LaTeX/2019/IITG_logo.png" title="IIT_GUWAHATI">
    </div>
    <div >
      <div class="mb-8">
        <div class="IITG"><p class="text-grey-darker text-2xl font-black text-black tracking-widest">Office of the Registrar</p></div>
        <p class="text-grey-darker text-xs whitespace-no-wrap text-gray-900 tracking-widest leading-relaxed"><br>Indian Institue of Technology, Guwahati<br>Guwahati 781039<br>Assam, INDIA</p>
		<%contactInfos.forEach(contactInfo=>{ %>
        <p class="text-grey-darker text-base font-medium text-gray-600 tracking-widest leading-relaxed">
			Phone: <%=contactInfo.phone%><br>Fax: <%=contactInfo.fax%><br>Email: <%=contactInfo.email%></p>
		  <% }) %>
      </div>
    </div>
  </div>
</div>


</body>
<script>
    $(document).ready(function(){
      $('#nav-content').prepend($('.active-tab'));
    })
    
  </script>
<script>
    const smallnav = document.querySelector("#smallnav");
    const menu = document.querySelector("#menu");

    smallnav.addEventListener('click', ()=>{
      if(menu.classList.contains('hidden')){
          menu.classList.remove('hidden');
      }else{
          menu.classList.add('hidden');
      }
    })
  </script>

<script>
  document.addEventListener("scroll", function () {
    const navbar = document.querySelector("#navbar");
    const navbarHeight = 100;

    const distanceFromTop = Math.abs(
      document.body.getBoundingClientRect().top
    );

    if (distanceFromTop > navbarHeight+500) navbar.classList.add("fixed-top");
    else navbar.classList.remove("fixed-top");
  });
</script>

</html>