<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Guwahati : Registrar's Office</title>
	<link rel="stylesheet" href="/regoff/css/tailwind.min.css" />
	<link rel="stylesheet" type="text/css" href="/regoff/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
	 <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.cdnfonts.com/css/basier" rel="stylesheet">
	
</head>

<body class="overflow-x-hidden">
  <!-- <div class="min-h-screen"> -->
    <div class="header bg-gray-100">
      <div class="flex justify-center bg-gray-100 pt-1">
        
        <div>
            <span class="float-left ">
                <a href="https://iitg.ac.in"><img src="https://i.ibb.co/8z2qtGM/1200px-IIT-Guwahati-Logo-1.png" alt="1200px-IIT-Guwahati-Logo-1" border="0"></a>
              </span>
              <span class="float-left pl-4 align-center inline-block align-middle h-full py-2">
              <h1 class="text-sm m-auto align-center text-center leading-normal align-middle">INDIAN INSTITUTE OF TECHNOLOGY GUWAHATI</h1>
              </span>
        </div>
      </div>
    </div>
	
	

<!-- 2 bar-->


        <div class="flex  w-full ">
          <div class="flex flex-grow" id='nav-content' >
            <div class="hidden flex-grow items-center justify-center text-sm font-mono h-20 px-4 w-50 text-blue-550 bg-accent active-tab">
              <a href="/regoff" class="text-center font-bold bar2 heads cursor-pointer" style="font-size: 18px;">OFFICE OF THE REGISTRAR</a>
            </div>
            <!-- bg-accent -->
            <div class="flex px-8 items-center space-x-16 h-20 ">
              <a class="text-center w-100 bar2 heads hover:text-blue-500" style="font-size: 16px;" href="/regoff/fr">Former Registrars</a>
			  <a class="text-center w-100 bar2 heads hover:text-blue-500" style="font-size: 16px;" href="/regoff/off">Officials</a>
			  <a class="text-center w-100 bar2 heads hover:text-blue-500" style="font-size: 16px;" href="/regoff/rule">Important Links</a>
            </div>
          </div>
        </div>

	
	
<!-- 3rd carusel -->
<div class=" mx-auto" style="width:100%;" >
	<% galleries.forEach(gallery=>{ %>
<div class="slideshow-container">
	
	<div class="inline-block mySlides fade" >
	  <!-- <div class="inline-block content-center numbertext">1 / 3</div> -->
	<svg xmlns="http://www.w3.org/2000/svg" class="transition duration-500 ease-in-out hover:bg-gray-300 transform hover:scale-110 inline-block prev h-20 w-20" onclick="plusSlides(-1)" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="position: absolute;">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
	  </svg>
	  <img class="object-cover h-4/6 w-full " src="<%=gallery.pic%>">
	  
	
<svg xmlns="http://www.w3.org/2000/svg" class="transition duration-500 ease-in-out hover:bg-gray-300 transform hover:scale-110 inline-block next h-20 w-20" onclick="plusSlides(1)" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="position: absolute;">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>
		
	</div>
	


	


</div>
	<% }) %>

<!-- <div style="container content-center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div> -->

</div>
<!-- carousel ends -->
	

      <!--registrar para-->
<div class="w-full">
  <div class="lg:flex mb-5 mt-5 ml-auto space-x-4 space-y-4" style="margin: 100px;" id="theregistrar">
    <div class="Paragraphs lg:w-11/12">
      <div class=" text-4xl mb-5">
        <h1 class="w-13/13 heads text-black font-semibold" >
            The Registrar
        </h1>
        
      </div>
      <div class="Content ">
        <p class="lg:pt-5">
          As per the Institutes of Technology Act, 1961 and as amended there of :<br>
    
          <br><strong>The Registrar</strong> of each Institute shall be appointed on such terms and conditions as may be laid down by the Statutes and shall be the custodian of records, the common seal, the funds of the Institute and such other property of the Institute as the Board shall commit to his charge.
          
          <br><br><strong>The Registrar</strong> shall act as the Secretary of the Board, the Senate, the Finance Committee, the Building and Work Committee of the institute and such committees as may be prescribed by the Statutes.
          <br><br><strong>The Registrar</strong> shall be responsible to the Director for the proper discharge of his functions.
          
          <br><br><strong>The Registrar</strong> shall exercise such other powers and perform such other duties as may be assigned to him by this Act or the Statutes or by the Director.
        </p>
      </div>
    </div>
	  
	  	<% curr_regs.forEach(curr_reg=>{ %>
	<div class="bcard mt-24 w-full h-3/4" id="maincard">
		<div class="section1" id="sec1">
			<div class="title">
				<span style ="font-family: Red Hat Display; font-size: 14px; line-height: 19px;letter-spacing: 0.08em;color: #BCBCF9;">
					<%=curr_reg.date%>
				</span> <br>
				<span style ="font-weight: 600; font-family: Basier Circle; font-size: 34px;line-height: 44px;letter-spacing: 0.0038em;color: #FFFFFF;">
					<%=curr_reg.name%>
				</span>
			</div>
			<div class="photo">
				<img class="rounded" src="<%=curr_reg.pic%>" style="display:block;width:292px;height:auto">
			</div>
		</div>
		<div class="section2" style="max-width:400px;" id="sec2">
			<span id="blue-text"><%=curr_reg.description%></span>
			<br><br>
			<span id="blue-text">Phone: <%=curr_reg.phone%></span>
			<br>
			<span id="blue-text">Email: <%=curr_reg.email%></span>
			<br>
			<br>
		</div>
	</div>
	<% }) %>
  </div>
	

  
</div>

<!-- <div class="container md:px-32 px-5 py-20 mx-auto"> -->

	






	<!--CONTACT US-->

	
<footer class="text-gray-600 body-font bg-gray-200">
		<div class="container px-5 pt-8 pb-3 sm:py-10 mx-auto flex items-center sm:flex-row flex-col">
			<div class="container flex mt-5" >
	  <div class="max-w-md w-auto lg:flex ">
		<!--div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"-->
		  <img class = "h-40  align-top px-12" src="https://event.iitg.ac.in/icann2019/Proceedings_LaTeX/2019/IITG_logo.png" title="IIT_GUWAHATI">
		</div>
		<div >
		  <div class="mb-8">
			<div class="IITG">
				<p class="text-grey-darker text-3xl font-black text-black tracking-widest">Office of the Registrar</p>
			</div>
			<p class="text-grey-darker text-2xl whitespace-no-wrap text-gray-800 py-4">Indian Institue of Technology, Guwahati<br>Guwahati 781039<br>Assam, INDIA</p>
			<%contactInfos.forEach(contactInfo=>{ %>
			<p class="text-grey-darker text-xl font-medium text-gray-600 tracking-widest leading-relaxed" style ="font-family: Red Hat Display;">
				Phone: <%=contactInfo.phone%><br>Fax: <%=contactInfo.fax%><br>Email: <%=contactInfo.email%></p>
			  <% }) %>
		  </div>
		</div>
	</div>
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
            href="https://www.facebook.com/swciitg" target="_blank">
            <!-- <img src="images/nav/hab_logo.svg" alt="hab-logo" class="transform scale-50"> -->
            <img src="/regoff/images/svg/swc-logo.svg" alt="swc-logo" class="mr-3 transform scale-110">
            <span class="text-xl">Students' Web Committee</span>
        </a>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>


<script>
    $(document).ready(function(){
      $('#nav-content').prepend($('.active-tab'));
    })
    
  </script>
<script>
    const smallnav = document.querySelector("#smallnav");
    const menu = document.querySelector("#menu");

    smallnav.addEventListener('click', ()=>{
      if(menu.classList.contains('hidden')){
          menu.classList.remove('hidden');
      }else{
          menu.classList.add('hidden');
      }
    })
  </script>

<script>
  document.addEventListener("scroll", function () {
    const navbar = document.querySelector("#shownav");
    const navbarHeight = 100;

    const distanceFromTop = Math.abs(
      document.body.getBoundingClientRect().top
    );

    if (distanceFromTop > navbarHeight+460){
		navbar.classList.remove("invisible");
		//navbar.classList.add("transition-property: all transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) transition-duration: 150ms");
	}
    else navbar.classList.add("invisible");
  });
</script>


<!-- 3rd carousel -->
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>



</html>